.ad {
  display: -ms-grid;
  display: grid;
  grid-template-areas: 
    'img'
    'head'
    'des'
  ;
  grid-auto-columns: 1fr;
  padding: 1.5rem;
  width:max-content;
  max-width: 80vw;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  margin-right: auto;
  margin-left: auto;
  border-radius: 1rem;
  border: 1px solid var(--clr-neutral-900);
  box-shadow: 0.1rem 0.2rem 0.3rem var(--clr-neutral-900) ;
  transform: scale(0.95);
  transition: all 500ms ease;
  gap: 1rem;
}

.ad:hover {
  color: var(--clr-accent-400);
  transform: scale(1.05);
}

.adimg {
  grid-area: img;
  margin: auto;
  max-width: 30vw;
  min-width: 20vw;
}

.head {
  grid-area: head;
}

.description {
  grid-area: des;
  text-align: center;
}

@media (min-width: 35rem) {
  .ad {
    margin-right: 6rem;
    grid-template-areas: 
    'head'
    'des'
    'img'
    
  ;
  }
}

@media (min-width: 50rem) {
  .ad {
    margin: auto;
    grid-template-areas: 
    'img head'
    'des des '
    
  ;
  }
}
