  .container {
    
    text-align: center;
    
    gap: 1rem;
    width: 100%;
    
    display: -ms-grid;
    display: grid;
    grid-template-areas: 
      'head head head'
      'fivdes fivdes fivdes'
      'fivimg fivimg fivimg'
      'patdes patdes patdes'
      'patlev1 patlev2 patlev3'
      
    ;
    
  }

  .head {
    margin=right: 3rem;
    line-height: 1.5;
    font-size: 4rem;
    width: 100vw;
    grid-area: head;
    
  }
  
  .fivdes, .patdes {
    
    line-height: 1.5;
    font-size: 2rem;
    margin-right: 2rem
    
  }

  .fivdes {
    grid-area: fivdes;
    
    width: 100%;
    margin-right: auto;
  }

  .patdes {
    grid-area: patdes;
  }

  .fivbutton {
    cursor: pointer;
    display: inline-flex;
    text-decoration: none;
    color: var(--clr-neutral-900);
    background: transparent;
    padding: 0.5em 1.25em;
    margin: auto;
    border-radius: 0.5rem;
    transform: scale(0.95);

    transition: all 500ms ease-out;
    grid-area: fivimg;
    
}

.fivbutton:hover,
.fivbutton:focus {
    transform: scale(1.05);
    
}

.fivimg {
  width: 100vw;
  max-height: 50vh;
  margin-bottom: 5rem;
  grid-area: fivimg;
  margin-right: 2rem
}

.patimg {
  grid-area: patimg;
  
}

.patlev1,
.patlev2,
.patlev3 {
  border-radius: 1rem;
  border: 1px solid var(--clr-neutral-900);
  box-shadow: 0.1rem 0.2rem 0.3rem var(--clr-neutral-900) ;
  transform: scale(0.95);
  transition: all 500ms ease;
  list-style: none;
  padding: 1rem;
  margin:auto;
  
}

.patlev1 > ul,
.patlev2 > ul,
.patlev3 > ul {
  list-style: inside;
  text-align: left;
  
}

.patlev1 > a > ul > li,
.patlev2 > a > ul > li,
.patlev3 > a > ul > li {
  list-style: inside;
  text-align: center;
  padding-left: 1rem;
  
}

.patlev1 {
  grid-area: patlev1;
  font-size: medium;
  height: 100%;
  margin-left: 1rem;
}
.patlev2 {
  grid-area: patlev2;
  font-size: larger;
  
  height: 100%;
}
.patlev3 {
  grid-area: patlev3;
  font-size: xx-large;
}

.patlev1:hover,
.patlev2:hover,
.patlev3:hover {
  color: var(--clr-accent-400);
  transform: scale(1.05);
}

@media (max-width: 35rem) {
  .container {
    margin-bottom: 6rem;
    grid-template-areas: 
      'head head head'
      'fivdes fivdes fivdes'
      'fivimg fivimg fivimg'
      'patdes patdes patdes'
      'patlev1 patlev2 patlev2'
      'patlev3 patlev3 patlev3'
      
    ;
  }
  .patlev2 {
    margin-right: 1rem;
  }
  .patlev3 {
    margin-left: 1rem;
    margin-right: 1rem;
    
  }
  
}

@media (min-width: 35rem) {
  .container {
    margin-bottom: 1rem;
    grid-template-areas: 
      'head head head'
      'fivdes fivdes fivdes'
      'fivimg fivimg fivimg'
      'patdes patdes patdes'
      'patlev1 patlev2 patlev3'
      
    ;
  }
  .patlev3 {
    margin-right: 6rem;
    height: 100%;
    margin-top: 0rem;
    margin-left: 1rem;
  }
  .patlev1 {
    width:100%;
    margin-left: 1rem;
    margin-right: 0;
  }
  .patlev2 {
    margin-left: 1rem;
    margin-right: 0;
    width: 100%;
  }
  
  
}

@media (min-width: 50rem) {
  .container {
    margin-bottom: 1rem;
    grid-template-areas: 
      'head head'
      'fivdes fivdes'
      'fivimg fivimg'
      'patdes patdes'
      'patlev1 patlev3'
      'patlev2 patlev3'
      
    ;
  }
  .patlev3 {
    margin-right: 6rem;
  }
  
  
}