  .disclaimer {
    margin: 3rem 5rem 3rem 1rem;
    line-height: 2;
    font-size: 1rem;
    max-width: 100%;

  }

  .smalldisclaimer {
    font-size: x-small;
  }

  .list {
    margin-left: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    list-style-type: disc;
    list-style: circle;
  }

  .numlist {
    margin-left: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    list-style-type: decimal;
    list-style:decimal;
  }

  @media (max-width: 35rem) {
    .disclaimer {
      margin-right: 1rem;
      
    }
  }
 





