.warning {
  color: var(--clr-accent-500);
  text-decoration: none;
 }

 .titletext {
  color: var(--clr-neutral-100);
  text-decoration: none;
 }
  
  .title {
    margin: 0;
    line-height: 1.5;
    font-size: 6rem;
    width: 100vw;
    
  }

  .titleback {
    
    width:100vw;
    max-height: 70vh;
    margin-left: auto;
    margin-right: auto;
    
    justify-content: center;
    
    
  }
  



  .title,
  .description {
    text-align: center;
  }
  
  .description {
    margin: 2rem 1rem;
    line-height: 1.5;
    font-size: 2rem;
  }

  .button {
    cursor: pointer;
    display: inline-flex;
    text-decoration: none;
    color: var(--clr-neutral-900);
    background: transparent;
    padding: 0.5em 1.25em;
    border-radius: 0.5rem;
    transform: scale(0.95);

    transition: all 500ms ease-out;
    
}

.button:hover,
.button:focus {
    transform: scale(1.05);
    
}

.img {
  width: 100vw;
  max-height: 50vh;
  margin-bottom: 5rem;
}

.footernav {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footernav ul {
  list-style: none;
  display: flex;
}

.footernav ul li {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

@media (max-width: 35rem) {
  .footernav {
    margin-bottom: 6rem;
  }
}