.sectiontop {
    display: -ms-grid;
    display: grid;
    
    -ms-grid-columns: 33%;
    grid-auto-columns: 1fr;
    
    grid-template-areas: 
        'one one one'
        'two three four'
        'five five five'
        'six six six'
        'seven seven seven'
        'eight eight eight'
        'nine ten ten'
        'eleven eleven eleven';
    gap: 1rem;
    margin: 1rem 1rem 1rem 1rem;
}

.title {
    grid-area: one;
    max-width: 100%;
}

.patprice {
    grid-area: two;
}

.or {
    grid-area: three;
    margin: auto;
}

.fivprice {
    grid-area: four;
}

.tags {
    grid-area: five;
    max-width: 100%;
}

.image {
    grid-area: six;
    width: 100%;
}

.description {
    grid-area: seven;
}

.body {
    grid-area: eight; 
}

.backtests {
    grid-area: nine;
}

.tests {
    grid-area: ten;
}



.button {
    grid-area: eleven;
}

@media (min-width: 30em) {
    .sectiontop {
        width: calc(100%-5rem);
        grid-template-areas: 
            'one one eleven'
            'two three four'
            'seven seven seven'
            'five five five'
            'six six six' 
            'eight eight eight'
            'nine nine nine'
            'ten ten ten'
            ;

    }
}

@media (min-width: 35em) {
    .sectiontop {
        grid-template-areas: 
            'one one eleven'
            'two three four'
            'seven seven seven'
            'five five five'
            'six eight eight'
            'nine nine nine'
            'ten ten ten'
            ;

    }
}

@media (min-width: 55em) {
    .sectiontop {
        grid-template-areas: 
            'one one eleven'
            'two three four'
            'seven seven seven'
            'five five five'
            'six eight eight'
            'six nine ten '
            ;

    }
}

