.sectiontop {
    display: -ms-grid;
    display: grid;
    overflow: hidden;
    -ms-grid-columns: 33%;
    grid-auto-columns: 1fr;
    
    grid-template-areas:  
    'one one one'
    'two two two'
    'three three three'
    'six six six'
    'seven seven seven'
    'eight eight eight'
    'nine nine nine'
    'ten eleven eleven'
    'twelve twelve twelve'
    'four four five';

    gap: 1rem;
    margin: 1rem 1rem 1rem 1rem;
}

.title {
    grid-area: one;
    max-width: 100%;
    position:relative;
    color: var(--clr-neutral-100);
    width: max-content;
    max-width: 100%;
    --padding: 1rem;
    padding: var(--padding);
    margin-bottom: 0.2rem;
    
    z-index: 1;
    
    
}

.title::before{
    content: '';
    background-color: var(--clr-accent-400);
    position: absolute;
    height: 75%;
    width: 5rem;
    bottom:0;
    left: calc(100% + 0.5rem);
    transform: skewX(20deg);
    z-index: -2;
    


}
.title::after {
    content:'';
    position: absolute;
    height: 10px;
    background: var(--clr-accent-500);
    width: calc(100% + 3rem);
    height: 100%;
    bottom:0;
    left: -3rem;
    z-index: -1;
    transform: skewX(20deg);
    transition: 200ms ease-in;

}

.get {
    grid-area: two;
    margin: auto;
    text-align: center;
    background-color: var(--clr-neutral-900);
    width:100%;
    color: var(--clr-neutral-100);
    border-radius: 1rem;
}
.prices {
    grid-area: three;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-items: left;
    margin-bottom: 1rem;
    border-radius: 1rem;
    background-color: var(--clr-neutral-900);
    color: var(--clr-neutral-100)
}
.patprice {
    background-color: var(--clr-neutral-100);
    color: black;
    text-align: right;
    width: max-content;
    padding: 1rem;
    margin: 1rem;
    transition-duration: 500ms;
    border-radius: 1rem;
  box-shadow: 0.1rem 0.2rem 0.3rem var(--clr-accent-400) ;
}

.patprice:hover {
    color: var(--clr-accent-400);
    font-size: 1.1rem;
}

.or {
   
    margin: auto;

}

.fivprice {
    background-color: var(--clr-neutral-100);
    color: black;
    margin: 1rem;
    padding:1rem;
    width:max-content;
    transition-duration: 500ms;
    border-radius: 1rem;
  box-shadow: 0.1rem 0.2rem 0.3rem var(--clr-accent-400) ;
}

.fivprice:hover {
    color: var(--clr-accent-400);
    font-size: 1.1rem;
}

.fillerl {
    grid-area: four;
    text-align: right;
    margin: auto;
}

.fillerr {
    grid-area: five;
}


.tags {
    grid-area: six;
    max-width: 100%;
}

.image {
    grid-area: seven;
    width: 100%;
    overflow: hidden;
}

.description {
    grid-area: eight;

}

.body {
    grid-area: nine; 
    max-width:100%;
}

.backtests {
    grid-area: ten;
}

.tests {
    grid-area: eleven;
}



.button {
    grid-area: twelve;
    width: max-content;
    justify-self: right;
    margin-right: 6rem;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: var(--clr-neutral-900);
    background: var(--clr-accent-400);
    padding: 0.5rem 3rem;
    border-radius: 0.25rem;
    margin-top: 1rem;
    transform-origin: center;
    transition: all 200ms;
}
    
.button:hover,
.button:focus {
    background-color: var(--clr-accent-500);
}

@media (min-width: 30em) {
    .sectiontop {
        width: calc(100%-5rem);
        grid-template-areas: 
        'one one one'
        'two two two'
        'three three three'
        'seven seven seven'
        'six six six'
        'eight eight eight'
        'nine nine nine'
        'ten eleven eleven '
        'four four five'
        'twelve twelve twelve'
            ;

    }
    .prices {
        flex-direction: row;
        
    }
}

@media (min-width: 35em) {
    .sectiontop {
        grid-template-areas: 
        'one one one'
        'two two two'
        'three three three'
        'seven seven seven'
        'six six six'
        'eight eight eight'
        'nine nine nine'
        'ten eleven eleven '
        'four four five'
        'twelve twelve twelve';

    }
   
}

@media (min-width: 55em) {
    .sectiontop {
        grid-template-areas: 
        'one one twelve'
        'five two four'
        'five three four'
        'six six six'
        'seven eight eight'
        'seven nine nine'
        'seven ten eleven ';
            

    }
    
}

